@import "base.css";

html, body {
  overflow: hidden;
  height: 100%;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.toolbar {
  height: 90px;
  flex-shrink: 0;
  z-index: 100;
}

.page-container {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
